exportPattern("^[[:alpha:]]+")

importFrom('stringr','str_sub','str_trim','str_extract','str_detect')
importFrom('scales', 'alpha')
importFrom('xts', 'xts')
importFrom('tis', 'year', 'month','jul','dayOfYear')
importFrom('plyr', 'ldply')
importFrom('lubridate', 'leap_year')
importFrom('maptools', 'readShapeSpatial')
import('sp')

S3method(summary, Catalog)
S3method(print, Catalog)
S3method(plot, Catalog)

